@media only screen and (max-width:700px) {
    .menu{
        margin-left:-140px;
        box-shadow:0px 0px 0px rgba(0,0,0,0);
    }
    .menu .button{
        opacity:0.8;
        z-index:2;
        right:-32px;
    }
    .contents{
        margin-left:0;
        z-index:1;
        width:100%;
    }
    .contents .content-inner{
        margin:0;
    }
    .contents .content-center{
        width:100%;
    }
    .show-menu{
        margin-left:0;
        box-shadow:1px 0px 20px rgba(0, 0, 0, 0.3);
    }
    .hakkimda h3{
        width:100%;
        left:0;
        top:0;
        text-align:center;
    }
    .egitim .box span{
        font-size:12px;
    }
    .github-main span{
        font-size: 20px;
    }
    .ref-head  img{
        position: relative;
        top:0;
    }
    .ref-head h2{
        width:100%;
        text-align: center;
        right:0;
    }
    .ref-preview h2{
        font-size: 18px!important;
        padding:0px 10px!important;
    }
    .ref-preview p{
        font-size: 13px;
    }
    .ref-preview .imgs{
        min-height: unset!important;
    }
    .ref-preview .go{
        font-size:13px;
        padding:7px!important;
    }
    .ref-preview li table td:first-child{
        width: 50% !important;
    }
}
