<div class="mobileToggle">
	<i class="icon-menu icon"></i>
</div>
<div class="left">
	<div class="box">
		<div class="name">
			<a href="{{ site.baseurl }}">
				{{ site.author }}
				<span>{{ site.job }}</span>
			</a>
		</div>
		<div class="menu">
			<a href="{{ site.baseurl }}">
				<div class="item {% if page.url == '/'  %}active{% endif %}">Anasayfa <i class="icon-home icons"></i></div>
				<div class="clear"></div>
			</a>

			<a href="{{ site.baseurl }}hakkimda">
				<div class="item {% if page.url == '/hakkimda'  %}active{% endif %}">Hakkımda <i class="icon-info icons"></i></div>
				<div class="clear"></div>
			</a>
			<a href="{{ site.baseurl }}yazilarim">
				<div class="item {% if page.url == '/yazilarim'  %}active{% endif %}">Yazılarım <i class="icon-note icons"></i></div>
				<div class="clear"></div>
			</a>

			<a href="{{ site.baseurl }}calismalarim">
				<div class="item {% if page.url == '/calismalarim'  %}active{% endif %}">Çalışmalarım <i class="icon-screen-desktop icons"></i></div>
				<div class="clear"></div>
			</a>

			<a href="{{ site.baseurl }}iletisim">
				<div class="item {% if page.url == '/iletisim'  %}active{% endif %}">İletişim <i class="icon-user-follow icons"></i></div>
				<div class="clear"></div>
			</a>
		</div>
	</div>
</div>
