@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700')
html
	font-family: "Open Sans",sans-serif
	background: #f5f5f5
*
	box-sizing: border-box
ul,li,a
	list-style-type: none
	margin: 0
	color: unset
	text-decoration: none
hr
	border: 0
	width: 100%
	margin: 15px 0 0
	height: 1px
	background: rgba(#000,0.1)
.image
	background-size: cover
	background-position: center
	background-repeat: no-repeat

$colorText: #5E5E5E
$colorItem: #3A3A3A
$colorItemHover: #6A6A6A
$colorBorder: #ececec

img
	max-width: 100%
	width: 100%
.clear
	margin: 0
	padding: 0
	clear: both
.pace
	-webkit-pointer-events: none
	pointer-events: none
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	z-index: 2000
	position: fixed
	margin: auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(255,255,255,1)
	transition: 0.5s
	text-align: center
	overflow: hidden
	.pace-progress
		position: fixed
		z-index: 2000
		display: block
		position: absolute
		top: 50%
		left: 50%
		height: 30px
		margin-left: -100px
		width: 200px
		font-size: 20px
		color: #7C7C7C
		font-weight: 100
		text-align: center
		transform: unset!important
		font-family: "Open Sans",sans-serif
		&:after
			content: attr(data-progress-text)
			display: block
	&.pace-inactive
		background: rgba(#000,0)
		.pace-progress
			display: none
.left
	display: inline-block
	width: 400px
	background: #fff
	border-right: 1px solid $colorBorder
	font-size: 20px
	padding: 0 30px
	transition: 0.2s
	float: left
	z-index: 99
	position: fixed
	.bottom
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		text-align: center
		color: rgba(#000,0.2)
		margin: 10px 0
		font-size: 12px
		transition: 0.2s
		line-height: 1.6em
		&:hover
			color: rgba(#000,0.3)
	.box
		display: flex
		align-content: center
		justify-content: center
		flex-direction: column
		height: 100vh
		.name
			margin-top: 20px
			font-size: 2em
			font-weight: 100
			color: $colorText
			text-align: right
			display: inline-block
			float: right
			span
				font-size: 0.32em
				font-weight: normal
				display: block
				text-align: right
				margin-top: 5px
				float: right
		.menu
			margin-top: 50px
			text-align: right
			.item.active:after
				width: 100%
			.item
				font-size: 0.75em
				font-weight: lighter
				text-align: right
				color: $colorItem
				transition: color 0.2s
				position: relative
				display: inline-block
				margin: 10px 0
				padding-left: 20px
				&:after
					content: ''
					display: block
					width: 0%
					position: absolute
					right: 0
					bottom: -10px
					height: 1px
					background: $colorItemHover
					transition: 0.2s
				i
					position: relative
					display: inline-block
					vertical-align: top
					width: 16px
					height: 14px
					margin-left: 5px
					&:before
						top: 2px
						position: absolute
						left: 0
						top: 0
				&:hover
					color: $colorItemHover
					cursor: pointer
					&:after
						width: 100%
.right
	.list
		padding: 20px
		.item
			border: 1px solid $colorBorder
			background: #fff
			margin-bottom: 20px
			position: relative
			&:last-child
				margin-bottom: 0
			.read
				text-align: right
			.button
				width: 50%
				margin: 10px auto
				border: 2px solid $colorBorder
				padding: 10px
				text-align: center
				color: $colorText
				font-weight: lighter
				transition: 0.3s
				font-size: 1rem
				display: block
				&:hover
					background: rgba(#000,0.07)
					color: $colorItem
			.content
				padding: 20px
				.text
					font-weight: 300
					line-height: 1.7em
					color: $colorItem
					padding: 10px 0
					a
						text-decoration: underline
						color: #000
						font-weight: normal
					.gist
						font-size: 12px
						*
							font-size: 12px
				.pager
					font-size: 1rem
					margin-bottom: 10px
					a
						font-size: 14px
						font-weight: lighter
						color: $colorText
						display: inline-block
						&.next
							float: right
				.nav
					font-size: 12px
					font-weight: 400
					margin: 5px 0
					color: $colorText
					text-transform: uppercase
					.date
						font-size: 12px
						margin-top: 3px
						display: inline-block
				.title
					font-weight: 600
					margin: 0 0 5px
					color: $colorItem
					font-size: 2em
		.item.contact
			.social
				color: $colorText
				font-weight: lighter
				margin: 5px 0
			.me
				position: relative
				height: 400px
				width: 100%
				overflow: hidden
				z-index: 1
				&:hover .image
					filter: blur(1px)
				.title
					font-weight: 600
					color: #fff
					z-index: 2
					font-size: 2rem
					position: absolute
					right: 20px
					top: 20px
				.gray
					background-color: rgba(20,30,30,0.5)
					height: 100%
					width: 100%
					position: absolute
					z-index: 1
				.image
					filter: blur(5px)
					-webkit-filter: blur(5px)
					-moz-filter: blur(5px)
					-o-filter: blur(5px)
					height: 400px
					transition: 0.4s
					background-position: top
					background-image: url("https://raw.githubusercontent.com/sefatunckanat/sefatunckanat.github.io/old/img/me.jpg")
			.text
				font-weight: 300
				line-height: 1.7em
				color: $colorItem
				padding: 10px 0
				text-align: justify
				a
					text-decoration: underline
					color: #000
					font-weight: normal
			
			img
				filter: grayscale(0.5)
				-moz-filter: grayscale(0.5)
				-webkit-filter: grayscale(0.5)
				-o-filter: grayscale(0.5)
				transition: 0.6s
				&:hover
					filter: grayscale(0)
					-moz-filter: grayscale(0)
					-webkit-filter: grayscale(0)
					-o-filter: grayscale(0)
	.list.posts
		.box
			height: 300px
			position: relative
			overflow: hidden
			&:hover .image
				height: 400px
				top: -50px
			.image
				height: 100%
				position: absolute
				width: 100%
				left: 0
				top: 0
				transition: 0.2s
			.title
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				color: #fff
				background: rgba(#000,0.4)
				padding: 20px 10px
				font-weight: lighter
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
			.info
				position: absolute
				right: 0
				top: 0
				color: #fff
				font-weight: lighter
				font-size: 0.7rem
				background: rgba(#000,0.4)
				padding: 10px
	.list.works
		.image
			padding: 10px
			border-right: 1px solid rgba(#000,0.1)
			border-bottom: 1px solid rgba(#000,0.1)
			position: relative
			margin-bottom: 10px
		.image:hover *
			cursor: zoom-in
		.buttons
			text-align: right
			vertical-align: text-bottom
			a
				width: 50%
				margin: 10px auto
				border: 2px solid #ececec
				padding: 10px
				text-align: center
				color: #5E5E5E
				font-weight: lighter
				transition: .3s
				font-size: 1rem
				display: block
				&:hover
					background: #ececec
		.title
			font-weight: 600
			margin: 0 0 5px
			color: #3A3A3A
			font-size: 2em
			border-bottom: 1px solid rgba(#000,0.1)
			padding-bottom: 5px
			margin-bottom: 5px
		.desc
			font-weight: 300
			line-height: 1.7em
			color: #3A3A3A
			padding: 10px 0
		.tags
			position: absolute
			right: 0
			bottom: 10px
			user-select: none
			pointer-events: none
			span
				user-select: none
				pointer-events: none
				padding: 5px
				color: #fff
				margin: 5px 0
				display: inline-block
				border-radius: 1px
				font-size: 12px
				border: 1px solid rgba(#000,0.1)
				&:nth-child(1)
					background: #b48c5e
				&:nth-child(2)
					background: #6bb469
				&:nth-child(3)
					background: #5783b4
				&:nth-child(4)
					background: #b46486
				&:nth-child(5)
					background: #b44c51
				&:nth-child(6)
					background: #b4b44a
				&:last-child
					margin-right: 15px
.mobileToggle
	font-size: 30px
	position: fixed
	z-index: 999
	left: 30px
	top: 30px
	transition: 0.2s
	display: none
	background: #fff
	border: 1px solid $colorBorder
	padding: 10px
	color: $colorItem
	text-align: center
	i
		text-align: center
	&.active
		transform: rotate(90deg)
		-webkit-transform: rotate(90deg)
		-moz-transform: rotate(90deg)
		-o-transform: rotate(90deg)
.error
	height: 100vh
	display: flex
	justify-content: center
	align-content: center
	text-align: center
	flex-direction: column
	color: $colorText
	font-weight: lighter
	
.cv
	background: #23241f
	font-family: "Source Code Pro",monospace
	font-size: 14px
	overflow-x: scroll
	.line
		line-height: 16px
		position: relative
		white-space: nowrap
		border-bottom: 1px solid rgba(#fff,0.0)
		border-top: 1px solid rgba(#fff,0.0)
		transition: 0.2s
		&:before
			display: inline-block
			position: absolute
			left: 0
			width: 15px
			content: attr(data-line)
			color: #fff
			top: -2
			background: #5E5E5E
			padding: 0 10px
			border-right: 1px solid #737373
			height: 110%
		&:hover
			border-bottom: 1px solid rgba(#fff,0.1)
			border-top: 1px solid rgba(#fff,0.1)
			background: rgba(#000,0.2)
		&.p1
			padding-left: 50px
		&.p2
			padding-left: 75px
		&.p3
			padding-left: 100px
		&.p4
			padding-left: 125px
	.tag,.subst
		color: #f8f8f2
	.strong,.emphasis
		color: #a8a8a2
	.bullet,.quote,.number,.regexp,.literal,.link
		color: #ae81ff
	.code,.title,.section,.selector-class
		color: #a6e22e
	.strong
		font-weight: bold
	.emphasis
		font-style: italic
	.keyword,.selector-tag,.name,.attr
		color: #f92672
	.symbol,.attribute
		color: #66d9ef
	.params,.class
		color: #f8f8f2
	.string,.type,.built_in,.builtin-name,.selector-id,.selector-attr,
	.selector-pseudo,.addition,.variable,.template-variable
		color: #e6db74
	.comment,.deletion,.meta
		color: #75715e